*, *::before, *::after {
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    font-weight: 200;
    font-size: 30px;
    color: #65adff;
}

body {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 330px 1fr;
    grid-template-rows: 1fr 550px 1fr;
    justify-content: center;
    align-items: center;
}

#calculator {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: 200px repeat(5, 70px);
    grid-gap: 10px;
    background-color: rgb(168, 168, 168);
    padding-bottom: 10px;
    border-radius: 35px;
}

img {
    height: 75px;
    width: 75px;
    padding-top: 10px;
    margin-left: -3px;
}

#calculator > button {
    border: none;
    border-radius: 50%;
    background-color: #444444;
    outline: none;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease;
}

#calculator > button:hover {
    background-color: #555555;
}

#calculator > button:active {
    background-color: #777777;
    transform: scale(0.9);
}

#display {
    grid-column: 1/-1;
    font-family: Rubik, sans-serif;
    height: 100%;
    text-align: right;
    background-color: black;
    margin: 0 -10px 0 -10px;
    padding: 0 10px 0 10px;
    border-radius: 35px 35px 0 0;
}

#input {
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    word-wrap:break-word;
}

#preview {
    opacity: 0.5;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}

#display button {
    background: none;
    border: none;
    height: 50px;
    width: 50px;
    transition: all 0.1s ease;
    /* https://codepen.io/sosuke/pen/Pjoqqp for changing svg colors */
    filter: invert(75%) sepia(51%) saturate(4959%) hue-rotate(311deg) brightness(94%) contrast(124%);
}

#display button:hover {
    filter: invert(70%) sepia(91%) saturate(1867%) hue-rotate(305deg) brightness(104%) contrast(101%);
}

#display button:active {
    transform: scale(0.9);
    filter: invert(80%) sepia(18%) saturate(402%) hue-rotate(306deg) brightness(102%) contrast(101%);
}

button > img {
    height: 40px;
    width: 40px;
}

.operations {
    color: #FF6675;
}

#equals {
    color: #444444;
    background-color: #FF6675 !important;
}

#clear {
    color: #FF1C1C;
}